@model InfoVideo.Models.Format

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4>Вы ўпэўнены, што хочаце выдаліць?</h4>
<div>
    @{
        Html.RenderPartial("Format");
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Выдаліць" class="btn btn-default red" />
        </div>
    }

</div>
