@model InfoVideo.Models.Roles

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Падрабязнасці</h3>


<div>
    <h4>Роля</h4>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(t => Model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(t => Model.Name)
        </dd>

    </dl>
</div>
