@model IEnumerable<InfoVideo.Models.Video>

@{  
    ViewBag.Title = "Хатняя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Slider{
      @{
          Html.RenderPartial("Slider", null);
      }
  
}

<div class="sidebar-left">
    @{
        Html.RenderPartial("SidebarLeft", null);
    }
</div>


<div class="sidebar-right">
    @{
        Html.RenderPartial("SidebarRight", Model);
    }
</div>




@foreach (var item in Model)
{
    Html.RenderPartial("Video", item);

}






