@model List<InfoVideo.Models.Video>


<table class="table">
   

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            
           
        </tr>
    }

</table>

