

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Ajax.BeginForm("ProcType", "Home",
                                                                    new AjaxOptions
                                                                    {
                                                                        HttpMethod = "POST",
                                                                        InsertionMode = InsertionMode.Replace,
                                                                        UpdateTargetId = "test"
                                                                    }))
{

    <div class="form-group">
  
 
            <input type="text" name="type" />
   
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Апрацаваць" class="btn btn-default green" />
            </div>
        </div>
   


    <div id="test">
       
    </div>



            }