@model IEnumerable<InfoVideo.Models.History>

@{
    ViewBag.Title = "Гісторыя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Гісторыя</h2>

 @{
        Html.RenderPartial("History", Model);
}