<div class="stat-form">
    <button class="btn btn-default green" id="stat-ajax-btn">
        Дата
        <i class="zmdi zmdi-calendar zmdi-hc-lg"></i>
    </button>

    <input type="number" name="yearDisplay" min="2011" max="2016" value="2016">

    <button class="btn btn-default green" id="stat-ajax-btn-pop">
        Відыё
        <i class="zmdi zmdi-movie zmdi-hc-lg"></i>
    </button>
</div>


       <div class="stat">
           <canvas id="myChart"></canvas>
       </div>
     

    <div id="stat-ajax"></div>
