
    <div id='cssmenu'>
        <ul>
            <li><a href='#'>На галоўную</a></li>
            <li class='active has-sub'>
                <a href='#'>Серыялы</a>
                <ul>
                    <li class='has-sub'>
                        <a href='#'>Фэнтэзі</a>
                        <ul>
                            <li><a href='#'>The Shannara Chronicles</a></li>
                            <li><a href='#'>The 100</a></li>
                            <li><a href='#'>Stargate Atlantis</a></li>
                        </ul>
                    </li>
                    <li class='has-sub'>
                        <a href='#'>Шпіёнскія</a>
                        <ul>
                            <li><a href='#'>The Black List</a></li>
                            <li><a href='#'>Castle</a></li>
                        </ul>
                    <li class='has-sub'>
                        <a href='#'>Пажарныя</a>
                        <ul>
                            <li><a href='#'>Chicago Fire</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href='#'>Кантакты</a></li>
        </ul>
    </div>
