
    <div class="news">
        <div class="news-item">
            <div class="news-item-header">
                <span class="news-item-name">The 100</span>
                <span class="news-item-name right">04.03</span>
            </div>
            <img src="/Media/Images/cat_the_hundred.jpeg" style="width: 45%;" alt="">
            <h6 class="display-block news-title">Terms and Conditions</h6>
            <div class="news-footer">
                <a href="">
                    <i class="zmdi zmdi-shopping-cart-plus zmdi-hc-fw"> </i>
                </a>
                <a href="">
                    <i class="zmdi zmdi-view-list-alt zmdi-hc-fw text-align-left"> </i>
                </a>
                <a href="">
                    <i class="zmdi zmdi-edit zmdi-hc-fw text-align-left"> </i>
                </a>
            </div>
        </div>
        <div class="news-item">
            <div class="news-item-header">
                <span class="news-item-name">The 100</span>
                <span class="news-item-name right">04.03</span>
            </div>
            <img src="/Media/Images/cat_the_hundred.jpeg" style="width: 45%;" alt="">
            <h6 class="display-block" style="display: block; float: right;margin: 0;padding: 0;
                   line-height: 20px; width: 45%;">
                Terms and Conditions
            </h6>
            <div class="news-footer">
                <a href="">
                    <i class="zmdi zmdi-shopping-cart-plus zmdi-hc-fw"> </i>
                </a>
                <a href="">
                    <i class="zmdi zmdi-view-list-alt zmdi-hc-fw text-align-left"> </i>
                </a>
                <a href="">
                    <i class="zmdi zmdi-edit zmdi-hc-fw text-align-left"> </i>
                </a>
            </div>
        </div>
        <div class="news-item">
            <div class="news-item-header">
                <span class="news-item-name">The 100</span>
                <span class="news-item-name right">04.03</span>
            </div>
            <img src="/Media/Images/cat_the_hundred.jpeg" style="width: 45%;" alt="">
            <h6 class="display-block" style="display: block; float: right;margin: 0;padding: 0;
                   line-height: 20px; width: 45%;">
                Terms and Conditions
            </h6>
            <div class="news-footer">
                <a href="">
                    <i class="zmdi zmdi-shopping-cart-plus zmdi-hc-fw"> </i>
                </a>
                <a href="">
                    <i class="zmdi zmdi-view-list-alt zmdi-hc-fw text-align-left"> </i>
                </a>
                <a href="">
                    <i class="zmdi zmdi-edit zmdi-hc-fw text-align-left"> </i>
                </a>
            </div>
        </div>
        <div class="news-item">
            <div class="news-item-header">
                <span class="news-item-name">The 100</span>
                <span class="news-item-name right">04.03</span>
            </div>
            <img src="/Media/Images/cat_the_hundred.jpeg" style="width: 45%;" alt="">
            <h6 class="display-block" style="display: block; float: right;margin: 0;padding: 0;
                   line-height: 20px; width: 45%;">
                Terms and Conditions
            </h6>
            <div class="news-footer">
                <a href="">
                    <i class="zmdi zmdi-shopping-cart-plus zmdi-hc-fw"> </i>
                </a>
                <a href="">
                    <i class="zmdi zmdi-view-list-alt zmdi-hc-fw text-align-left"> </i>
                </a>
                <a href="">
                    <i class="zmdi zmdi-edit zmdi-hc-fw text-align-left"> </i>
                </a>
            </div>
        </div>
    </div>

