@model IEnumerable<InfoVideo.Models.Video>

<div class="news">
    
    @foreach (var item in Model)
    {
        <div class="news-item">
            <span class="news-item-name">@item.Title</span>   
            <img src="@Url.Content("~/Media/Images/" + item.Logo)" style="width: 45%;" alt="">
            <div class="right">
                <h5 class="no-margin-padding">@Html.DisplayFor(t => item.Date)</h5>
                <h6 class="news-title no-margin-padding">@item.Genre</h6>
            </div>
           
            <div class="news-footer">
                <a href="">
                    <i class="zmdi zmdi-shopping-cart-plus zmdi-hc-fw"> </i>
                </a>
                <a href="">
                    <i class="zmdi zmdi-view-list-alt zmdi-hc-fw text-align-left"> </i>
                </a>
                <a href="">
                    <i class="zmdi zmdi-edit zmdi-hc-fw text-align-left"> </i>
                </a>
            </div>
        </div>

    }
    
   
</div>

