<div class="header-slider">
    <div id="ninja-slider">
        <div class="slider-inner">
            <ul>
                <li>
                    <div class="caption">Stargate Atlantis</div>
                    <div class="video">
                        <video controls data-autoplay="false">
                            <source src="/Media/Video/stargate.mp4" type="video/mp4" />
                        </video>
                    </div>
                    <a class="ns-img" href="/Media/ImgSlider/123.png"></a>
                </li>
                <li>
                    <a class="ns-img" href="/Media/ImgSlider/img3.jpg"></a>
                    <div class="caption cap1">The Black List</div>
                    <div class="caption cap1 cap2">Reddington is coming</div>
                    <div class="caption">Watch</div>
                </li>
                <li>
                    <a href="/"><img class="ns-img" src="/Media/ImgSlider/img4.jpg" style="cursor:pointer;" /></a>
                    <div class="caption cap1">Chicago Fire</div>
                    <div class="caption cap1 cap2">Matt part</div>
                    <div class="caption">Watch</div>
                </li>
                <li>
                    <a class="ns-img" href="/Media/ImgSlider/img5.jpg"></a>
                    <div class="caption cap1">Richard</div>
                    <div class="caption cap1 cap2">Catherine</div>
                    <div class="caption">Enjoy</div>
                </li>
            </ul>
            <div class="fs-icon" title="Expand/Close"></div>
        </div>
    </div>
</div>