@model InfoVideo.Models.LoginModel


<div class="head-user-panel">
    <div class="head-user-content" id="head-panel-one">

        @{

            if (User.Identity.IsAuthenticated)
            {
                <p class="head-title">Мой профіль</p>

                <button class="btn gray" onclick="location.href='@Url.Action("Logoff", "Account")';">
                    <i class="btn-logo zmdi zmdi-sign-in zmdi-hc-fw"></i>Выйсці
                </button>


            }
            else
            {
                <p class="head-title">Вітаем Вас!</p>
                <button  class="btn blue btn-logo-left">
                    <i class="btn-logo zmdi zmdi-facebook zmdi-hc-fw"></i> Sign by Facebook
                </button>

                <button  class="btn btn-logo-left ligth-blue">
                    <i class="btn-logo zmdi zmdi-google zmdi-hc-fw"></i> Sign by Google
                </button>

                <button link="user-profile.html" class="btn btn-logo-left red" onclick="user_login_show(this)">
                    <i class="btn-logo zmdi zmdi-sign-in zmdi-hc-fw"></i> Login
                </button>

                <div class="head-sep"></div>

                <button id="btn-reg" class="btn btn-logo-left gray" onclick="location.href = '@Url.Action("Register", "Account")'" value="Reg">
                    <i class="btn-logo zmdi zmdi-account-add zmdi-hc-fw"></i> Registration
                </button>
            }

        }



    </div>
    @{
        if (!User.Identity.IsAuthenticated)
        {
            <div class="head-user-content" id="head-panel-two" style="display: none">
                <p class="head-title">Уваход</p>

                @{
                    Html.RenderPartial("~/Views/Account/Login.cshtml",Model);
                }

                <div class="head-sep"></div>
                <a href="#" class="" id="head-panel-back" onclick="user_login_hide(this)">
                    <i class="zmdi zmdi-chevron-left"></i>
                    Назад
                </a>
            </div>
                    }
    }
</div>
