@model InfoVideo.Models.Video

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Выдаленне</h2>

<h3>Вы ўпэўнены, што хочаце выдаліць?</h3>
<div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @{
        Html.RenderPartial("Video", Model);

    }

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Выдаліць" class="btn btn-default red" /> 
        </div>
    }
</div>
