@model InfoVideo.Models.Video

@{
    ViewBag.Title = "Падрабязнасці";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    Html.RenderPartial("Video", Model);
}

<div class="sidebar-right relative display-inline-block">
    @{
        foreach (var c in Model.Edition)
        {
          
                Html.RenderPartial("~/Views/Editions/Model.cshtml", c);
         
        }

    }
</div>