@model InfoVideo.Models.Edition

@{
    ViewBag.Title = "Набыццё";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Набыццё</h3>



@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "result" }))
{
    @Html.AntiForgeryToken()


    {
        Html.RenderPartial("~/Views/Editions/Model.cshtml", Model);
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Buy" class="btn btn-default" />
        </div>
    </div>
    <i style="display: none" class="fa fa-circle-o-notch fa-spin fa-3x fa-fw margin-bottom" id="anim"></i>



}

<div id="result"></div>
