@model InfoVideo.Models.Users

@{
    ViewBag.Title = "Падрабязнасці";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Падрабязнасці</h3>


@{Html.RenderPartial("User",Model);}

<h3>Гісторыя</h3>

<table>
    @{
        Html.RenderPartial("History", Model.History);
    }
</table>
<p>

</p>
