
@model IEnumerable<InfoVideo.Models.Users>

@{
    ViewBag.Title = "Спіс карыстачоў";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Спіс карыстачоў</h2>
@using (Ajax.BeginForm(new AjaxOptions {UpdateTargetId = "results" }))
{

    <div>
        <label for="discount">Зніжка</label>
        <input type="number" id="discount" name="discount" min="0" max="100" value="10">
        <label><input type="checkbox" id="isUp" name="isUp">Дадаць большыя таксама</label>
    </div>

    <input type="submit" class="btn btn-default green" value="Апрацаваць"/>

}

<div id="results">
   @{Html.RenderPartial("List",Model);
   }

</div>